
<% if (sessionFlash) { %>
    <section id="server_messages" class="py-4 px-3 px-sm-5 mx-lg-5">
        <div class="<%= sessionFlash.type === 'success' ? 'alert alert-success' : 'alert alert-danger' %> ">
            <p class="m-0"><%= sessionFlash.message %></p>
        </div>
    </section>    
<% } %>

<section id="first_part" class="py-5 px-3 px-sm-5">

    <h2>Welcome <span><%= user.name %></span></h2>

</section>

<section id="second_part" class="px-3 px-sm-5 pb-5">

    <h4>Programs you joined</h4>

    <% if (programs !== null) { %>
        
        <div class="row">
            <% programs.forEach( (program) => { %>
            
                <div class="mt-5 col-md-6 col-lg-4 p-2">
                    <div style="background:<%= program.background %>;" class="card d-flex justify-content-between flex-row">
                        <img src="./images/programs/<%= program.image %>" class="" alt="<% program.programme %> by  a girl">
                        <div class="card-body d-flex justify-content-sm-center align-items-sm-center me-auto me-sm-0 flex-column">
                            <h5 class="card-title text-start w-100"><%= program.programme %></h5>
                            <p class="card-text text-start text-white py-2 w-100 m-0"><%= program.videos %> videos | <%= program.weeks %> weeks | +<%= program.trainers %>k trainers.</p>
                            <div class="w-100">
                                <p class="m-0 text-white">Joined <%= program.joined_at %>. </p>
                            </div>
                            <div class="pt-3 d-flex justify-content-start w-100">
                                <a href="/programs/quit/<%= program.id %>" class="btn btn-light d-flex justify-content-start align-items-center text-dark">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right me-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                    </svg>
                                    Quit program
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
            <% }) %>
        </div>

    <% } else { %>

        <div class="py-5 programs_not_found">
            <h1 class="text-center">You haven't joined any program yet. <a href="/programs">Join program.</a></h1>
        </div>

    <% } %>

</section>

